<div class="footer-content">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="https://ezplatform.com/assets/themes/ezplatform/images/ez-logo-white.svg" alt="eZ Systems" class="logo">
            </div>

            <div class="col-md-3">
                <div class="ezrichtext-field">
                    <ul>
                        <li><a href="http://ez.no">eZ.no</a></li>
                        <li>
                            <a href="http://ez.no/About-eZ/Company-Overview" target="_blank">{{ "footer.company.overview"|trans }}</a>
                        </li>
                        <li><a href="http://ez.no/Products">{{ "footer.company.products"|trans }}</a></li>
                    </ul>
                </div>

            </div>

            <div class="col-md-3">
                <div class="ezrichtext-field">
                    <ul>
                        <li>
                            <a href="http://doc.ez.no/display/DEVELOPER/Documentation">{{ "footer.ez.doc"|trans }}</a>
                        </li>
                        <li>
                            <a href="https://doc.ez.no/display/DEVELOPER/eZ+Platform+Public+PHP+API" target="_blank">API</a>
                        </li>
                        <li><a href="http://share.ez.no" target="_blank">eZ Publish</a></li>
                    </ul>
                </div>

            </div>

            <div class="col-md-3 footer-social text-center">
                <h4>{{ "footer.followus"|trans }}</h4>

                <a href="//www.youtube.com/user/ezpublish/" target="_blank">
                    <i class="fa fa-youtube fa"></i>
                </a>
                <a href="//google.com/+ezsystems" target="_blank">
                    <i class="fa fa-google-plus fa"></i>
                </a>
                <a href="//www.linkedin.com/company/16738" target="_blank">
                    <i class="fa fa-linkedin fa"></i>
                </a>
                <a href="//www.facebook.com/eZPublishEnterprise" target="_blank">
                    <i class="fa fa-facebook fa"></i>
                </a>
                <a href="//twitter.com/#!/ezsystems" target="_blank">
                    <i class="fa fa-twitter fa"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="copyright-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>{{ "footer.copyright"|trans }}</p>
                <p>{{ "footer.poweredby"|trans }} <a href="//ezplatform.com" title="eZ Platform">eZ Platform</a></p>
            </div>
        </div>
    </div>
</div>
